/* Body */
body {
	margin: 0;
	background: linear-gradient(to right,#505cfd 0,#4174f8 18%,#1fabea 63%,#12bee5 78%,#00dbde 100%);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	min-height: 100vh;
}

body::before, body::after {
	box-sizing: border-box;		
}

.flex-grow {
	color: rgba(3,27,78,.7);
	display: block;
}


/* Navbar */
.site-header {
	background: #fff;
    line-height: 2.2rem;
	box-shadow: 0 0 8px #0000001c;
    margin-bottom: .5rem;
}

.navbar {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem 1rem;
}

.navbar-expand-lg {
	-ms-flex-flow: row nowrap;
	flex-flow: row nowrap;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.navbar > .container, .navbar > .container-fluid {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
	justify-content: space-between;
}


.container-fluid {
	max-width: 1140px;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.logo {
	font-weight: 600;
	font-size: 1.5rem;
}

.p-2 {
	padding: .5rem !important;
}

a {
	text-decoration: none;
	background-color: transparent;
}

.link {
	color: #007BFF;
}

.navbar-expand-lg.navbar-collapse {
	display: flex !important;
	flex-basis: auto;
}

.rounded-bottom {
	border-bottom-right-radius: .25rem !important;		
	border-bottom-left-radius: .25rem !important;		
}

.navbar-collapse {
	flex-grow: 1;
	align-items: center;
}

.navbar-expand-lg.navbar-nav {
	flex-direction: row;		
}

.ml-auto {
	margin-left: auto !important;
}

.pl-4, .px-4 {
	padding-left: 1.5rem !important;	
}

.pr-4, .px-4 {
	padding-right: 1.5rem !important;	
}

.navbar-nav {
	display: flex;
	margin-bottom: 0;
	list-style: none;
	float: right;
}

ul {
	margin-top: 0;

}

.navbar-expand-lg.navbar-nav .nav-link {
	padding-right: .5rem;
	padding-left: .5rem;
}

.nav-link {
	display: block;
	padding: .5rem 1rem;
}


/* Table */
.justify-content-center {
	justify-content: center !important;		
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
}

.bigshadow.card {
	box-shadow: 0 0 80px #0000003B;		
}

.card {
	border: 1px solid rgba(0, 0, 0, .09);		
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0,0,0,.125);
	border-radius: .25rem;
}

.mb-md-5 {
	margin-bottom: 3rem !important;		
}

.card-header:first-child {
	border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;		
}

.card-header {
	background-color: #f7f7f7;
	border-bottom: none;
	padding-top: 1.4rem;
	border-bottom: 1px solid rgba(0,0,0,.09);
	padding-bottom: .7rem;
	margin-bottom: 0;
	padding: .75rem 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	margin-bottom: 0;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}

h4 {
	color: #031B4E;
	font-size: 1.5rem;
	margin-bottom: .5rem;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.2;
	color: inherit;
	margin-top: 0;
	margin-bottom: .5rem;
}

.card-body {
	flex: 1 1 auto;
	padding: 1.25rem;
}

.table {
	width: 100%;
	max-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;
}

table {
	border-collapse: collapse;		
}

th {
	color: #FEFEFE;
	vertical-align: bottom;
	border-top: none;
	padding: .2rem;
	text-align: inherit;
}

.red {
	background-color: #4E1337; 		
}

.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0, 0, 0, .05);		
}

td {
	padding: .2rem;
	vertical-align: top;
}

#a {
	text-decoration: none;
	background-color: transparent;
	color: black;
}

.special {
	padding: 2px 2px;
	color: #fff;
	background-color: #33BAFF;
	border: 1px solid transparent;
	border-radius: 2px;
	line-height: 1.6;
	margin-right: 5px;
	font-weight: 700;
	font-size: 11px;
	width: 70%;
	text-transform: none;
	overflow: visible;
}

.special > a {
	color: #000;		
}







